.Header {
  margin: 4vh;
  background-color: rgb(24, 35, 45);
  height: 60vh;
  color: white;
}

.logo_container {
  margin: 5vh;
  display: flex;
  justify-content: space-between;
}

.logo_container > img {
  margin-top: 5vh;
}

.Header > h1 {
  font-size: 4rem;
  margin-left: 4vh;
  position: relative;
}

.Header > p {
  margin-left: 4vh;
  font-size: 1rem;
}

.react_logo_container {
  position: absolute;
  left: 60%;
  top: 10%;
}

.button {
  margin: 4vh;
  padding: 1.3rem;
  background-color: white;
  color: rgb(24, 35, 45);
  font-size: 1.2rem;
  font-weight: bold;
}

.Logos {
  margin: 8vh 16vh;
  display: flex;
  justify-content: space-around;
}

.Logos_container > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(24, 35, 45);
}

.Logos_container {
  margin-right: 6vh;
}

.Logos_container > p {
  color: gray;
  font-size: 1rem;
  font-weight: 600;
}
